{% extends 'base1.html.twig' %}

{% block tag_title %} Nos hotels - Cap {% endblock %}
{% block title %} Cap {% endblock %}

{% block main %}

    <div class="card text-white border-0">
        <img src="{{ img }}" class="card-img" alt="...">
        <div class="card-img-overlay ">
            <div class="position-absolute top-50 start-50 translate-middle bg-dark opacity-75">
                <h1 class="card-title text-center">Cap</h1>
                <p class="card-text justify-content-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            </div>

        </div>
    </div>
    {% include('hotel/index.html.twig') %}

{% endblock %}



