html, body {
    height: 100%;
    margin: 0;
    background-color: whitesmoke;
}
main {
    background-color: whitesmoke;
    padding: 14px 20px;
}
footer {
    background-color: #D0D0D0;
    position: unset;
}

#content {
    min-height: 100%;
    min-width: 100%;
    position:relative;
}
#contenu {
    min-height: 100%;
    min-width: 100%;
    position:relative;
}
.card-img-overlay {
    color: white;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}


/* Responsive layout - when the screen is less than 700px*/
@media screen and (min-width: 320px) and (orientation: portrait) {
    .navbar {
        flex-direction: column;
    }
    nav > div > a > svg {
        width:80px;
        height:106px;
    }


    #login {
        width: 100%;
    }
    #footer-mobile {
        position: unset;
        width: 100%;
        bottom: 0;
        background-color: #D0D0D0;
    }
    #register {
        margin-bottom: 3rem;
    }
}
@media screen and (min-width: 320px) and (orientation: landscape) {
    #footer-mobile {
        position: unset;
        width: 100%;
        bottom: 0;
        background-color: #D0D0D0;
    }

}

@media screen and (max-width: 767px) and (min-width: 320px)  {
    .footerp {
        display: none;
    }
    .card-img-overlay > #description {
        display: none;
    }
    #myInput {
        min-width: 60%;
    }
}

/* On screens that are 992px wide or less */
@media screen and (min-width: 768px) {

    .navbar a {
        text-align: center;
    }
    .dropdown-menu {
        background-color: whitesmoke;
    }
    #login {
        max-width: 70%;
    }

}



@media screen and (min-width: 900px) {

    .navbar a {
        padding: 14px 20px;
    }

    .navbar a:hover {
        background-color: #d0d0d0;
    }

    img {
        width: 100%;

    }

    footer {
        padding: 20px;
    }

    footer > ul {
        font-size: 2.5rem;
    }

    .datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
        background-color: lightcoral !important;

    }

    div.container {
        margin-top: 20px;
    }

    div.room-title {
        padding: 2em;
        background-size: cover;
        background-position: center center;
        background-color: whitesmoke;
    }

    div.room-title h1, div.room-title p {
        color: white;
        text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    }

    div.carousel-caption {
        text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    }
    div.card.room-title > div > h2 {
        color: white;
        text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    }

    #footer-mobile {
        position: unset;
        width: 100%;
        bottom: 0;
        background-color: #D0D0D0;
    }

    #login {
        max-width: 50%;
    }
}

@media screen and (min-width: 1400px) {
    #content {
        min-height: 100%;
        position: unset;
    }
    #footer-mobile {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
    }

}