/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .navbar {
        flex-direction: column;
    }
    nav > div > a > svg {
        width:80px;
        height:106px;
    }
    #footerp {
        display: none;
    }
    #myInput {
        min-width: 60%;
    }
}

/* On screens that are 992px wide or less, the background color is blue */
@media screen and (max-width: 992px) {
    header {
        color: white;
    }
    .navbar a {
        text-align: center;
    }
    .dropdown-menu {
        background-color: whitesmoke;
    }

}

main {
    background-color: whitesmoke;
    padding: 14px 20px;
}

/* Style the top navigation bar */
.navbar {
    display: flex;
    background-color: black;
}

/* Style the navigation bar links */
.navbar a {
    color: whitesmoke;
    padding: 14px 20px;
    text-decoration: none;

}

/* Change color on hover */
.navbar a:hover {
    background-color: #696969;
    color: black;
}

a.dropdown-item {
    color:  black;
}
/* Fake image, just for this example */
img {
    width: 100%;
    padding: 1px;
}

/* Footer */
footer {
    padding: 20px;
}

footer > ul {
    font-size: 2.5rem;
}



