{% extends 'headers/header.html.twig' %}

{% block title %}Nos Suites!{% endblock %}

{% block main %}
    <div class="container">
        <h1 class="my-3">Voici nos Suites</h1>

        <div class="row">
            {%for room in rooms %}
                <div class="col-md-4">
                    <div class="card bg-light mb-3">
                        <div class="card-header text-center">
                            <strong>{{ room.price / 100 }}&euro; / nuit</strong><br>
                        </div>
                        <img src="{{ vich_uploader_asset(room, 'imageFile') }}" alt="Image de l'appartement" style="height: 200px; width: 100%; display: block;">
                        <div class="card-body">
                            <h4 class="card-title">
                                {{ room.title }}
                            </h4>
                            <p class="card-text">
                                {{ room.description }}
                            </p>
                            <a href="#" class="btn btn-secondary"></a>
                        </div>
                    </div>
                </div>{% endfor %}
            </div>

    </div>
{% endblock %}
