{% extends 'headers/header.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block main %}
    <div class="card bg-dark text-white border-0">
        <img src="{{ img }}" class="card-img" alt="...">

    </div>
{% endblock %}
